<strong>Olá, {{studentName}}, sua solicitação foi respondida</strong>
<p>
  <strong>Pergunta: </strong>{{question}}<br />
  <strong>Resposta: </strong>{{answer}}<br />
  <strong>Data da Resposta: </strong>{{answerAt}}<br />
</p>
